extends layout

block content
  div(class="row")
    div(class="col-6")
      div(class="card")
        h3(class="card-header")= "New order"
        div(class="card-body")
          form(class="form", method="post" action="/add")
            each pizza in selectedPizzas || []
              input(type="hidden", name="selected_pizza", value="#{pizza.name}")
            div(class="form-group row")
              select(class="form-control col-10" name="new_pizza")
                each pizza in pizzas
                  option(value="#{pizza.name}")= pizza.name + " $" + pizza.price
              button(class="btn btn-primary col-2")= "Add"
          form(class="form" method="post" action="/save")
            ul
              each pizza in selectedPizzas || []
                li= pizza.name + " " + pizza.price
                  input(type="hidden" name="pizza" value="#{pizza.name}")
            if typeof selectedPizzas && selectedPizzas.length > 0
              button(class="btn btn-success w-100")= "Place order"
                

    div(class="col-6")
      div(class="card")
        h3(class="card-header")= "Existing orders"
        div(class="card-body")
          each order, idx in orders
            div= "Order #" + (idx+1) + " has " + order.pizzas.length + " pizzas"
              a(href="/delete/" + idx)
                button(type="button", class="close")
                  span
                    &times;
              ul
                each pizza in order.pizzas
                  li= pizza.name
                    div(class="float-right")
                      span= '$' + pizza.price
      